<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'registration' %}" method="post">
    {% csrf_token %}
        <input type="text" name="name" placeholder="enter Name"> <br>
        <input type="text" name="user" placeholder="enter username"> <br>
        <input type="text" name="mon" placeholder=" enter mobile"> <br>
        <input type="text" name="pas" placeholder=" enter password"> <br>
        <input type="text" name="cpass" placeholder=" enter confirm password"> <br>
        <button type="submit"> registration </button>
       
    </form>
</body>
</html>